# Model Inference-Aria (Talent Fair Competition)

Vincent Timothy Djaja-RMT_017

In [1]:
# Import Library
import pickle
import pandas as pd
import numpy as np

In [2]:
# Load All Files

with open('model_ran.pkl', 'rb') as file_1:
  model_ran = pickle.load(file_1)

with open('model_scaler.pkl', 'rb') as file_2:
  model_scaler = pickle.load(file_2)

with open('model_pca.pkl', 'rb') as file_3:
  model_pca = pickle.load(file_3)

In [3]:
# Check original dataframe
df_ori = pd.read_excel('aria_data.xlsx').sample(1,random_state=7)
df_inf = df_ori.copy()
df_inf

,target,v1,v2,v3,v4,v5,v6,v7,v8,sample_type
104,4.77,537.533333,207.733333,577.466667,365.666667,492.066667,218.333333,646.333333,4274.333333,lab 2

In [4]:
# Drop target
df_inf.drop(['target'],axis=1,inplace=True)

# Change lab 1 and lab 2
df_inf['sample_type'].replace(['lab 1','lab 2'],[1,2],inplace=True)

In [5]:
# Feature Scaling
df_inf_scaled = model_scaler.transform(df_inf)
df_inf_scaled

array([[ 1.15309505, -0.14248894,  1.03230024, -0.26184946,  0.51249287,
        -0.44891208, -1.30798142, -0.74195004,  1.30955417]])

In [6]:
# PCA
df_pca = model_pca.transform(df_inf_scaled)
df_pca

array([[1.14115133, 2.353733  , 0.12502414]])

In [7]:
# Prediction
print('Target data inference ini adalah', model_ran.predict(df_pca))

Target data inference ini adalah [4.78819512]

In [8]:
# Check with original dataset
df_ori.target

104    4.77
Name: target, dtype: float64

Dapat disimpulkan bahwa model machine learning ini berhasil memprediksi data inference (4.7).